body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: rgba(255, 0, 0, 0.4);
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  font-family: sans-serif;
  color: hsl(0, 100%, 30%);
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  border-radius: 12px;
  padding: 16px 25px;
  border: none;
  font-size: 16px;
}

.addOption {
  margin-top: 10px;
  background-color: red;
  border: none;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
}

.addOption:hover {
  background-color: hsl(290,60%,80%);
  color: black;
}

.ready {
  background-color: red;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 12px;
  transition-duration: 0,4s;
}

.ready:hover {
  background-color: hsl(110,70%,70%);
  color: black;
}
